main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora-box{
    height: 75vh;
    width: 30vw;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "visor"
        "teclado";
}
.calculadora-visor{
    grid-area: visor;
    background-color: #7FBEEB;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    height: 90%;
}
#numero{
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    width: 90%;
    height: 60%;
    text-align: center;
}
.calculadora-teclado{
    grid-area: teclado;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "zerar none porcentagem del"
        "sete oito nove dividir"
        "quatro cinco seis multiplicacao"
        "um dois tres subtracao"
        "zeroo ponto igual soma";
    column-gap: 7px;
    row-gap: 7px;
}
.zerar{
    grid-area: zerar;
}
.porcentagem{
    grid-area: porcentagem;
}
.deletar{
    grid-area: del;
    text-transform: uppercase;
}
.sete{
    border: none;
    grid-area: sete;
}

.oito{
    grid-area: oito;
}
.nove{
    grid-area: nove;
}
.dividir{
    grid-area: dividir;
}
.quatro{
    grid-area: quatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.multiplicacao{
    grid-area: multiplicacao;
}
.um{
    grid-area: um;
}
.dois{
    grid-area:dois;
}
.tres{
    grid-area: tres;
}
.subtracao{
    grid-area: subtracao;
}
.zero{
    grid-area: zeroo;
}
.ponto{
    grid-area: ponto;
}
.igual{
    grid-area: igual;
}
.soma{
    grid-area: soma;
}
.formatacao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #2F3E46;
}
.formatacao:active{
    background-color: #526169;
}
.formatacao-operadores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    height: 100%;
    width: 100;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #EAC5D8;
}
.formatacao-operadores:active{
    background-color: #e9b3cf;
}
@media only screen and (min-width: 0px) and (max-width: 480px){
    .calculadora-box{
        width: 85%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .calculadora-box{
        width: 50%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1249px){
    .calculadora-box{
        width: 50vw;
    }
    .formatacao{
        font-size: 2.2rem;
    }
    .formatacao-operadores{
        font-size: 2.5rem;
    }
}
@media only screen and (min-width:1250px) and (max-width: 2030px){
    .calculadora-box{
        width:54vw;
    }
    .formatacao{
        font-size: 2.2rem;
    }
    .formatacao-operadores{
        font-size: 2.5rem;
    }
}
@media only screen and (min-width:2031px) and (max-width: 2170px){
    .calculadora-box{
        width:50vw;
    }
    .formatacao{
        font-size: 2.2rem;
    }
    .formatacao-operadores{
        font-size: 2.7rem;
    }
}
@media only screen and (min-width:2171px){
    .calculadora-box{
        width:50vw;
    }
    .formatacao{
        font-size: 2.5rem;
    }
    .formatacao-operadores{
        font-size: 2.7rem;
    }
}
